# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# SPORTAPI_AI_KEY: Token for https://sportapi.ai (Primary Fixtures Provider)
SPORTAPI_AI_KEY="MY_SPORTAPI_AI_KEY"

# THERUNDOWN_KEY: Key for https://therundown.io (Secondary Fixtures Provider)
THERUNDOWN_KEY="MY_THERUNDOWN_KEY"
